<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addCategory" method="post">
        <h3>Colores</h3>
        <div>
            <label for="">Nombre del color:</label>
            <input type="text" placeholder="" name="colorName">
        </div>
        <div>
            <label for="">Categoría del color</label>
            <select name="categoryColor" id="categoryColor">
                <option value="Primario">Primario</option>
                <option value="Frios">Frios</option>
                <option value="Calidos">Calidos</option>
            </select>
        </div>
        <input type="submit" class="save" value="Guardar" onclick="location.reload()">
    </form>
</body>
</html>