<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link rel="stylesheet" href="css/index.css" />
  </head>
    <body>
      <div class="background-container">
        <header>
          <div class="container__menu">
            <div class="logo">
              <img src="./img/note.jpg" alt="" />
            </div>
            <div class="menu">
              <i class="fas fa-bars" id="btn_menu"></i>
              <div id="back_menu"></div>
              <nav id="nav">
                <img src="./img/note.jpg" alt="" />
                <ul>
                  <li><a href="#" id="selected">Completas</a></li>
                  <li>
                    <a href="#">Mis listas</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </header>

      <section id="seccionDestino">
        <h1 class="title">Bienvenido</h1>
        <div class="centrar_div">
          <div class="div_container_information">
            <h4 class="information">
              List App sigue en contruccion te agradecemos la paciencia.
            </h4>
          </div>
        </div>
      </section>
          <div class="ftrlinks" id="end"></div>
        </div>
        <span class="ftrtxt">Copyright @Joaquin_Pappa 2023</span>
      </div>
  </body>
</html>
