<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="css/signup.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="login-container">
      <article class="form-container">
        <div class="intro">
          <h1>Bienvenido</h1>
          <p>
            Bienvenido es un honor tenerte, ingrese los datos del formulario
          </p>
        </div>

        <form method="POST" action="/signup" class="form" id="form">

          <div class="email-input">
            <span class="material-icons-round icon-size"> person </span>
            <span id="seperator"></span>
            <div class="input-container">
              <p class="sub-title">Nombre</p>
              <input
                type="text"
                class="input"
                name="name"
                id="name"
              />
            </div>
          </div>

          <div class="email-input">
            <span class="material-icons-round icon-size"> person </span>
            <span id="seperator"></span>
            <div class="input-container">
              <p class="sub-title">Segundo nombre</p>
              <input
                type="text"
                class="input"
                name="last_name"
                id="last_name"
              />
            </div>
          </div>

          <div class="email-input">
            <span class="material-icons-round icon-size"> mail_outline </span>
            <span id="seperator"></span>
            <div class="input-container">
              <p class="sub-title">Email</p>
              <input
                type="text"
                class="input"
                name="email"
                id="email"
              />
            </div>
          </div>

          <div class="email-input">
            <span class="material-icons-round icon-size"> password </span>
            <span id="seperator"></span>
            <div class="input-container">
              <p class="sub-title">Contraseña</p>
              <input type="password" class="input" name="password" id="password" />
            </div>
          </div>


          <div class="email-input">
            <span class="material-icons-round icon-size"> password </span>
            <span id="seperator"></span>
            <div class="input-container">
              <p class="sub-title">Confirmar Contraseña</p>
              <input
                type="password"
                class="input"
                name="password_check"
                id="password_check"
              />
            </div>
          </div>

          <button type="submit" id="submit">Continue</button>
          <div id="loader"></div>
        </form>
      </article>
      <article class="login-side-bg"></article>
    </section>
  </body>
  <script type="module" src="/js/signupSchema.js"></script>
</html>
